<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SantiyeYonetim.WebMVC</title>

    @await Html.PartialAsync("_LayoutCssPartial")

</head>
<body id="page-top">

    <div id="wrapper">

        <partial name="_LeftSideBar" />

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                    <partial name="_Header" />

                    <div class="container">
                      <main role="main" class="pb-3">
                          @RenderBody()
                      </main>
                    </div>
            </div>
        </div>

    </div>

    

    <partial name="_Footer" />

    @await Html.PartialAsync("_LayoutJsPartial");

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
